<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Node App</title>
  <link rel="stylesheet" href="imgs/loginpage.css" />
</head>

<body>
	<div id="header">
  		<h1 id="heading" >Image Searcher</h1>
	</div>
  	
  	<div id="spacer"></div>
  	
	<div id="logincomp">
		<h1>LOGIN</h1><br>
	  	<form method="post" action="/">
			  Username <input type="text" name="uname" class="detail" /> <br><br><br>
			  Password&nbsp; <input type="text" name="pass" class="detail" /> <br><br><br>
			  <input type="submit" value="Login" id="loginbtn">
	  	</form>
	</div>
</body>

</html>
